html, body {
    height:100%;
}

body {
   font: 14px/1.35em Arial, Helvetica, sans-serif;
   background: #ECF5F5;
}

#main-container {
   min-height: 100%;
   overflow-y: hidden;
}

#fig-container {
   margin-top: 25%;
}

#square {
   width:200px;
   height:200px;
   background: #F1D1C0;
   margin:auto;
   transition: background 1.5s ease;
}

#square:hover {
   background: #ECF5F5;
}

#circle {
   width:200px;
   height:200px;
   background: #EDECE6;
   -moz-border-radius: 100px;
   -webkit-border-radius: 100px;
   border-radius: 100px;
   margin:auto;
   transition: background 1.5s ease;
}

#circle:hover {
   background: #ECF5F5;
}

#triangle {
   width: 0;
   height: 0;
   border-bottom: 200px solid #ECE05C;
   border-left: 100px dashed transparent;
   border-right: 100px dashed transparent;
   margin:auto;
   transition: border-bottom 1.5s ease;
}

#triangle:hover {
   border-bottom: 200px solid #ECF5F5;
   border-left: 100px solid #ECF5F5;
   border-right: 100px solid #ECF5F5;
}
