{% extends "base.html" %}
{% block content %}
<div class="container" style="margin-top: 20px">
   <div class="one column">
      <div id="square-small" onclick="location.href='{{ ROOT_URL }}/about.html';"></div>
   </div>
   <div class="one column">
      <div id="circle-small" onclick="location.href='{{ ROOT_URL }}/portfolio.html';"></div>
   </div>
   <div class="one column">
      <div id="triangle-small" onclick="location.href='{{ ROOT_URL }}/contact.html';"></div>
   </div>
</div>

<div class="container" style="margin-top: 20px">
   <div id="about-text" class="fourteen columns">
      <div class="one column offset-by-two">
         <img src="{{ STATIC_URL }}/img/foto-05.png" height="180px" width="180px" style="align:middle"/>
      </div>
      <div class="offset-by-six">
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in pharetra tortor. Sed sit amet lorem sapien. Vivamus sodales sem sed metus ultrices, ut pretium felis euismod. Praesent in diam auctor, rhoncus elit a, adipiscing mauris. Pellentesque venenatis egestas nibh, et elementum diam venenatis a. Vestibulum magna diam, ultrices sed vulputate sit amet, consequat in felis. Donec blandit ullamcorper turpis, vel tincidunt ligula. Pellentesque nec purus augue. Duis luctus eleifend massa in dapibus. Donec molestie rutrum eleifend.</p>

         <p>Sed eu consequat velit. Fusce vel auctor libero. Aliquam massa diam, fermentum ut lorem in, tempus porttitor sem. Vivamus porta laoreet lorem, interdum rhoncus purus placerat ut. Maecenas id vestibulum enim. Ut condimentum lobortis elit, ac condimentum orci. Praesent ut nisl tincidunt, bibendum mi et, pretium ante.</p>

         <p>Vivamus a condimentum nibh, non mollis massa. Nullam magna urna, fermentum eget vulputate eget, rutrum ac odio. Maecenas libero mi, pretium pretium libero at, ullamcorper scelerisque nibh. Donec et velit pharetra, auctor dui sollicitudin, congue arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus dapibus consequat pulvinar. Ut ultrices sem eu arcu iaculis, volutpat placerat turpis posuere. Donec feugiat mi at vestibulum malesuada. Nullam facilisis ipsum eu quam vulputate, non commodo libero mollis.</p>
      </div>
   </div>
</div>
{% endblock %}
