{% extends "base.html" %}
{% block content %}
<div class="container" style="margin-top: 20px">
   <div class="one column">
      <div id="square-small" onclick="location.href='{{ ROOT_URL }}/about.html';"></div>
   </div>
   <div class="one column">
      <div id="circle-small" onclick="location.href='{{ ROOT_URL }}/portfolio.html';"></div>
   </div>
   <div class="one column">
      <div id="triangle-small" onclick="location.href='{{ ROOT_URL }}/contact.html';"></div>
   </div>
   <div class="one column">
      <div id="home-small" onclick="location.href='{{ ROOT_URL }}/index.html';">HOME</div>
   </div>
   <div class="ten columns">
      <p id="p-where">IDENTITY</p>
   </div>
</div>
<div class="container" style="margin-top: 20px">
   <div class="sixteen columns">
      <div class="photoset-grid-lightbox" data-layout="333" style="visibility: hidden;">
         <img src="holder.js/200x200" data-highres="holder.js/200x300">
         <img src="holder.js/200x200" data-highres="holder.js/200x300">
         <img src="holder.js/200x200" data-highres="holder.js/200x300">
         <img src="holder.js/200x200" data-highres="holder.js/200x300">
         <img src="holder.js/200x200" data-highres="holder.js/200x300">
         <img src="holder.js/200x200" data-highres="holder.js/200x300">
         <img src="holder.js/200x200" data-highres="holder.js/200x300">
         <img src="holder.js/200x200" data-highres="holder.js/200x300">
         <img src="holder.js/200x200" data-highres="holder.js/200x300">
      </div>
   </div>
</div>
{% endblock %}
