{% extends "base.html" %}
{% block content %}
<div id="fig-container" class="container">
   <div class="one-third column">
      <div id="square" onclick="location.href='{{ ROOT_URL }}/about.html';"><p>who</p></div>
   </div>
   <div class="one-third column">
      <div id="circle" onclick="location.href='{{ ROOT_URL }}/portfolio.html';"><p>what</p></div>
   </div>
   <div class="one-third column">
      <div id="triangle" onclick="location.href='{{ ROOT_URL }}/contact.html';"><p>where</p></div>
   </div>
</div>
{% endblock %}
